.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.cabecalho{
    width: 100%;
    background-color: blue;
    height: 100px;
}
.img{
   padding: 10px;
}
.card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 16px;
    margin-left: 20px;
    margin-right: 20px;

}
.cardsegunda{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 126px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
